html {
  font-size:12px;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-width: 300px;
  font: 1.6em 'Plus Jakarta Sans', sans-serif;
  background-color: lightgray;
  line-height: 1.8em;
  color: #333;
}

nav{
  position: fixed;
  top: 0;
  background: #333;
  width:100vw;
  min-width: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #EEE;
}
.nav-items {
 margin: 16px;  
 line-height: 1em;
}
.nav-link { 
  margin: 8px;
}
a, a:visited {
 text-decoration: none;
 color: coral;
}
a:hover { 
color: white;

}
main {
  margin-top: 80px;
}
h1 {
  font-size: 8em;
  margin: 32px 0 64px 0;
  display: block;
}
p {
  margin: 0;
}
section{
  padding: 16px;  
  margin: 24px;
  width: fit;
  min-width: 300px;
}
.allprojects{
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
  gap: 12px;
}
.project-tile {
  background: white;
  width: 100%;
  max-width:300px;
  min-width:300px;
  padding: 12px;
  border-radius:12px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-tile:hover {
  background: coral;
}
.project-title {
  font-size: 1.4em;
  margin: 0;
}
.project-bylines {
  margin: 8px 0;
  font-size: 0.7em;
}
.prog-lang{
  background: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
}
.project-tile img {
  box-sizing:border-box;
  width: 100%;
  object-fit: cover;
  border: 1px solid #DDD;
  border-radius: 8px;
}


@media (max-width:700px) {
  h1 {
    font-size: 4em;
  margin-top: 16px;
  }
}