html {
  font-size: 10px;
}
body {
  width: max;
  max-width: 1500px;
  min-width: 700px;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 8px;
}
header {
  width:max; 
  padding:32px 0px;
}
.tag {
  color: #131415;
  text-transform: uppercase;
  font: bold 1.6rem 'Roboto', sans-serif;
}
h1, #title {
  font:  6.4rem "Georgia", sans-serif;
  color: #131415;
  margin: 0;
}

main {
  display: block;
  padding: 24px 0;
  margin: 0 auto;
  width: 100%;
}

#img-div{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}

#image {
  max-width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 1.6rem;
}
#img-caption {
  display: block;
  text-align: left;
  color: #989898;
  font-size: 1.2rem;
}
a {
  padding: 4px 8px;
  color: white;
  background: red;
  font-style:default;
  text-decoration: none;
  border-radius: 4px;
}